/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: #181818;
$link-color: lighten(#0000EE, 20%);
$link-hover-color: #C10000;
$link-visited-color: lighten($link-color, 20%);
$primary: #C10000;
